<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.cs209project.Mapper.IssuesMapper">
  <resultMap id="BaseResultMap" type="com.example.cs209project.pojo.Issues">
    <id column="num" jdbcType="INTEGER" property="num" />
    <result column="owner_id" jdbcType="INTEGER" property="ownerId" />
    <result column="created_at" jdbcType="VARCHAR" property="createdAt" />
    <result column="updated_at" jdbcType="VARCHAR" property="updatedAt" />
    <result column="state" jdbcType="VARCHAR" property="state" />
    <result column="topic" jdbcType="VARCHAR" property="topic" />
    <result column="html_url" jdbcType="VARCHAR" property="htmlUrl" />
    <result column="content" jdbcType="VARCHAR" property="content" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from issue_helper
    where num = #{num,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.cs209project.pojo.Issues">
    insert into issue_helper (num, owner_id, created_at, 
      updated_at, state, topic, 
      html_url, content)
    values (#{num,jdbcType=INTEGER}, #{ownerId,jdbcType=INTEGER}, #{createdAt,jdbcType=VARCHAR}, 
      #{updatedAt,jdbcType=VARCHAR}, #{state,jdbcType=VARCHAR}, #{topic,jdbcType=VARCHAR}, 
      #{htmlUrl,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.example.cs209project.pojo.Issues">
    update issue_helper
    set owner_id = #{ownerId,jdbcType=INTEGER},
      created_at = #{createdAt,jdbcType=VARCHAR},
      updated_at = #{updatedAt,jdbcType=VARCHAR},
      state = #{state,jdbcType=VARCHAR},
      topic = #{topic,jdbcType=VARCHAR},
      html_url = #{htmlUrl,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR}
    where num = #{num,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select num, owner_id, created_at, updated_at, state, topic, html_url, content
    from issue_helper
    where num = #{num,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select num, owner_id, created_at, updated_at, state, topic, html_url, content
    from issue_helper
  </select>
  <select id="selectHtmlUrl" parameterType="java.lang.Integer" resultType="java.lang.String">
    select html_url
    from issue_helper
    where num = #{num,jdbcType=INTEGER}
  </select>
  <select id="selectBySort" parameterType="java.lang.String" resultMap="BaseResultMap">
    select num, owner_id, created_at, updated_at, state, topic, html_url, content
    from issue_helper
    where sort = #{word,jdbcType=VARCHAR}
  </select>
  <select id="selectByTopicTimeCreat" parameterType="java.util.Map" resultMap="BaseResultMap">
    select num, owner_id, created_at, updated_at, state, topic, html_url, content
    from issue_helper
    where position(#{word,jdbcType=VARCHAR} in topic) &gt; 0
      and left(created_at,10)&gt;=#{time1,jdbcType=VARCHAR}
      and #{time2,jdbcType=VARCHAR}&gt;=left(created_at,10)
  </select>
  <select id="selectByTopicTimeUpdate" parameterType="java.util.Map" resultMap="BaseResultMap">
    select num, owner_id, created_at, updated_at, state, topic, html_url, content
    from issue_helper
    where position(#{word,jdbcType=VARCHAR} in topic) &gt; 0
      and left(created_at,10)&gt;=#{time,jdbcType=VARCHAR}
  </select>
  <select id="selectByTopicTimeBoth" parameterType="java.util.Map" resultMap="BaseResultMap">
    select num, owner_id, created_at, updated_at, state, topic, html_url, content, sort
    from issue_helper
    where position(#{word,jdbcType=VARCHAR} in topic) &gt; 0
      and left(created_at,10)&gt;=#{time1,jdbcType=VARCHAR}
      and #{time2,jdbcType=VARCHAR}&gt;=left(created_at,10)
      and sort=#{sort,jdbcType=VARCHAR}
  </select>
  <select id="selectByTopicState" parameterType="java.util.Map" resultMap="BaseResultMap">
    select num, owner_id, created_at, updated_at, state, topic, html_url, content
    from issue_helper
    where position(#{word,jdbcType=VARCHAR} in topic) &gt; 0
      and state =#{state,jdbcType=VARCHAR}
  </select>
</mapper>